:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

html {
    box-sizing: border-box;
    
}
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}
input {
    width: 100%;
}
img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
.title__span {
    color: var(--base);
}