:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    width: 100%;
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    overflow-y: hidden;
}

input {
    vertical-align: middle;
}

.controls {
    margin-bottom: 50px;
    width: 100%;
}

img {
    width: 550px;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.title__span {
    color: var(--base);
}

@media (max-width: 767px) {
    body {
        font-size: 20px;
    }
    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 100%;
    }
}